In [1]:
import csv
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import warnings
import math
import json
import io
import os
warnings.filterwarnings('ignore')
get_ipython().run_line_magic('matplotlib', 'inline')
import plotly as py
import plotly.graph_objs as go
py.offline.init_notebook_mode(connected=True)

In [2]:
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
f1 = open('file_path1.csv') 
f2 = open('file_path2.csv')
out = open('outfile.csv','w')
for x in f1:
    y = next(f2)
    out.write(x.strip()+ ' '+ y)
out.close()

In [4]:
df=pd.read_csv('outfile.csv', delim_whitespace=True)

In [5]:
df

          Yield  Temperature
0  84358.415407    24.913637
1  85535.842445    24.707864
2  87422.313712    24.860159
3  88832.289924    24.908058
4  89842.393124    24.836042
5  91251.028473    24.860778
6  92445.420047    24.910628
7  93842.371331    24.908484
8  95355.156460    24.914096

In [6]:
dp=df.apply(lambda x: pd.Series(x.dropna().values))

In [7]:
dp

          Yield  Temperature
0  84358.415407    24.913637
1  85535.842445    24.707864
2  87422.313712    24.860159
3  88832.289924    24.908058
4  89842.393124    24.836042
5  91251.028473    24.860778
6  92445.420047    24.910628
7  93842.371331    24.908484
8  95355.156460    24.914096

In [8]:
dmax=max(dp["Yield"])
print(dmax)

95355.15646038254

In [9]:
type(dp)

pandas.core.frame.DataFrame

In [10]:
for i, row in dp.iterrows():
    if row["Yield"] == dmax:
        dtmax = row["Temperature"]
print(dtmax)

24.91409552120152

In [11]:
print ('For the max wheat yield is %f and the optimal temperature to obtain the yield is %f' % (dmax,dtmax))

For the max wheat yield is 95355.156460 and the optimal temperature to obtain the yield is 24.914096